* {
    box-sizing: border-box;
}
@font-face {
    font-family: 'freesetdemic';
    src: url('fonts/freesetdemic.otf');

font-family:'freesetlightc';
src: url('fonts/freesetlightc.otf');
    font-family:'freesetc';
    src: url('fonts/freeSetC.otf');}
*{
    margin:0;
    padding:0;}
*:focus {outline: none;}
header{
    height:100px;
    width: 100%;
    background-color: #f5f5f5;
    text-align: center;
}
.content_header{
    padding-top: 34px;
    width:957px;
    margin: 0 auto;


}
.content_header:after{
    content: '';
    display: inline-block;
    width:100%;
}

.logo{
    float: left;

}
.logo_part1, .logo_part2{
    display: inline-block;
    vertical-align: middle;
}
.phone_header{
    float: right;
    font-weight: 300;
    color: #2f3543;
    font-family: freesetdemic;
    font-size: 26px;
    vertical-align: middle;
}
article{
    margin-top: 64px;
    margin-left: auto;
    margin-right: auto;
    width:957px;

    text-align: left;
}
article p.first_line{
    font-family: freesetlightc;
    font-size: 40px;
    font-weight: normal;
    color: #2f3543;
    line-height: 50px;
}
article p.main_text{
    font-family: freesetc;
    font-size: 14px;
    line-height: 30px;
    color: #2f3543;
}
article p.third_line{
    margin-top: 44px;
    margin-bottom: 20px;
    font-family: freesetc;
    font-size: 20px;
    line-height: 30px;
    color: #2f3543;
}
.form{width:957px;
margin: 0 auto;}
.patient_form ul {

    list-style-type:none;

    list-style-position:outside;

    margin:0px;

    padding:0px;

}

  .patient_form li{
      display: inline-block;

  }
  .form li{
      margin-right: 30px;

      display: inline-block;
      vertical-align: top;

  }
  .patient_form input{
      width:388px;
      height:60px;
      background-color:#e4e4e4;
      border-radius: 6px;
      margin-bottom: 20px;

      border-width: 0px;
      padding-left: 24px;
      transition: background-color 0.1s linear;
      color:#2f3543;
      font-size: 14px;
      line-height: 20pt;
      vertical-align: top;
}


  .patient_form .form_hint{
      display: inline-block;
      width: 388px;
      color:#8791a8;
      font-family: freesetc;
      font-size: 12px;
      line-height: 20px;

      vertical-align: top;
      margin-bottom:22px;
      margin-top: -13px;
  }
  .patient_form button{
      height:48px;
      width:129px;
      border-radius: 2px;
      background-color: #005093;
      color:white;
      font-family: freesetdemic;
      font-size: 12px;
      line-height: 30px;
      letter-spacing: 0.2em;
      text-transform: uppercase;
      border-width: 0px;
      margin-top: 24px;
      margin-bottom: 106px;

  }
  .placehold_select{
      position: absolute;
      font-size:12px;
      font-family:freesetc;
      line-height: 20px;
      color:#8791a8;
      padding-left: 24px;
      padding-top:6px;

  }

.patient_form input[placeholder] {
    font-size:14px;
    font-family:freesetc;
    line-height: 20px;
    color:#8791a8;
    margin-bottom: 15px;
    transition: font-size 0.1s linear, transform 0.1s linear;
    }
.patient_form input:focus::-webkit-input-placeholder{
    font-size:12px;
    transform: translateY(-12px);
    margin-bottom: 14px;
    opacity: 1;


}

.patient_form input:focus {

    background-color:#eeeeee;
}
.patient_form button,input:hover{
    cursor:url('images/cursor.png'), pointer;
}
.patient_form .sub_label{
    border-radius: 3px;
    display:inline-block;
    background-color: #e5e5e5;
    width:388px;
    height:60px;
    padding-top: 33px;
    background-image: url(images/select_arrow.png);
    background-repeat: no-repeat;
    background-position: 358px 27px;
}
.patient_form select{

   position: absolute;
    opacity:0;
    width:100%;
    height:100%;


}
.patient_form fieldset{
  vertical-align: top;
    position:relative;
    overflow: hidden;
    border-width: 0;
    box-shadow: none;
    outline: none;
    cursor: url(./images/cursor.png), pointer;


}
fieldset #subway{

  position: absolute;

    padding-bottom: 13px;
    padding-left:23px;
    font-size:14px;
    font-family: FreeSetC;
    font-color:#2f3543;
    cursor: url(./images/cursor.png), pointer;
}
fieldset #select_value{

    padding-left:23px;
    font-size:14px;
    font-family: FreeSetC;
}
li .text_in_select{
    position:absolute;
    top:10px;
    left:23px;
    font-size: 12px;
    color: #8791a8;
    font-family: FreeSetC;
    line-height: 20px;
    cursor: url(./images/cursor.png), pointer;
}
.text_in_select2{
    position:absolute;
    font-size: 12px;
    color: #8791a8;
    font-family: FreeSetC;
    line-height: 20px;
    z-index: 10001;
    margin-left:23px;
    margin-top:10px;
    cursor: url(./images/cursor.png), pointer;
}
.patient_form #selectPoliclinic{
    width: 388px;
}
.picture{
    width:8px;
    height:5px;
    position: absolute;
    background-image: url(images/select_arrow.png);
    background-repeat: no-repeat;
    margin-top:28px;
    margin-left:356px;
   z-index: 10001;
    cursor: url(./images/cursor.png), pointer;
}
input#rules{
    position: absolute;
    width: 1px;
    height: 1px;
    top:-10px;
    left:-100px;
    visibility: hidden;

    vertical-align: middle;

}
label.check_label{
    display: inline-block;
    width: 388px;
    position: relative;
    overflow: hidden;
    color: #8791a8;
    font-family: FreeSetC;
    font-size: 14px;
    cursor: url(./images/cursor.png), pointer;
}
label.check_label:before{
    margin-right: 9px;
    vertical-align: middle;
    content:'';
    display: inline-block;
    width:20px;
    height:20px;
  background-image: url(images/check_box.png);

}
input:checked +label:before{
    margin-right: 9px;
    vertical-align: middle;
    content:'';
    display: inline-block;
    width:20px;
    height:20px;
    background-image: url(images/cheked.png);

}
.error {
    position: absolute;
  font-size:12px;
    font-family: FreeSetC;
   color: #e08787;

}
.correct {
    background: #56d800;
    border: 3px solid #008000;
}
.wrong {
    font-weight: bold;
    color: #e90000;
}
.normal {
    font-weight: normal;
    color: #222;
}